.App {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    font-size: 37px;
}

.password-container{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.password{
    width: 622px;
    height: 90px;
    background-color: #2B2B2B;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 57.4879px 22.8261px 16.9082px rgba(0, 0, 0, 0.01), 36.3527px 14.372px 16.0628px rgba(0, 0, 0, 0.06), 20.2899px 8.45411px 13.5266px rgba(0, 0, 0, 0.2), 9.29952px 3.38164px 10.1449px rgba(0, 0, 0, 0.34), 2.53623px 0.845411px 5.07246px rgba(0, 0, 0, 0.39), 0px 0px 0px rgba(0, 0, 0, 0.4);
}

input[type="text"] {
    height: 3rem;
    width: 87%;
    appearance: none;
    -webkit-appearance: none;
    background-color: #2B2B2B;
    border: none;
    font-size: xx-large;
    padding: 1rem;
    color: white
}

input[type="text"]:focus{
    outline: none;
    background-color:#3E3E3E
}

.copy{
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    height: 2.5rem;
    width: 4rem;
    padding-right: 3rem;
}

.copyIcon{
    height: inherit;
    width: inherit;
    color: #3CA1FE
}

.settings{
    width: 622px;
    height: auto;
    background-color: #2B2B2B;
    border-radius: 13px;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: 57.4879px 22.8261px 16.9082px rgba(0, 0, 0, 0.01), 36.3527px 14.372px 16.0628px rgba(0, 0, 0, 0.06), 20.2899px 8.45411px 13.5266px rgba(0, 0, 0, 0.2), 9.29952px 3.38164px 10.1449px rgba(0, 0, 0, 0.34), 2.53623px 0.845411px 5.07246px rgba(0, 0, 0, 0.39), 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.radio-counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14rem;
}

.radio-counter > span {
    color: #3CA1FE;
    font-size: xx-large;
}

.range{
    padding:15px 0px;
}

.rs-slider-handle {
    position: absolute;
    top: -96%;
    outline: none;
}

.rs-slider-handle::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3CA1FE;
    border: 2px solid var(--rs-slider-thumb-border);
    background-color: #fff;
    background-color: var(--rs-slider-thumb-bg);
    margin-left: -6px;
    cursor: pointer;
    /* stylelint-disable */
    -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    /* stylelint-enable */
  }

.option{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.default-checkbox{
    height: 1rem;
}

.rs-checkbox{
    transform: scale(2);
}

.default-label{
    font-size: x-large;
}

.indicator{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.indicator-red{
    color: rgb(241, 70, 70);
}

.indicator-green{
    color: rgb(29, 255, 29);
}

.button{
    background-color: #3CA1FE;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    color: #2B2B2B;
    cursor: pointer
}

.panel{
    height: auto;
}